<h1>Welcome To Your Calendar</h1>




  <title>Login</title>

  <form name="MY Form"action="Login">
    <h2>Login</h2>
    <% if current_user %>
    Logged in as <%= current_user.email %>
    <p><%=  link_to "Log Out", logout_path %></p>
    <% else %>
    <p><%=link_to "Sign Up", signup_path %> or 
    <%= link_to "Log In", login_path %> </p>
    <% end %>
<p id="notice"><%= notice %></p>
  </form>

