<%= form_for @event, url: calendar_index_path(@event)  do |f| %>

  <p>
   
   <%= f.label :Event_Name %>
   <br>
   <%= f.text_field :title, autocomplete: 'off' %>
  </p>
  
   <p>
    <%= f.label :Date %><br>
    <%= f.text_field :date, "id"=>"datepicker",   autocomplete: 'off' %>
  </p>
, 
 <p>
    <%= f.label :Start_Time %><br>
    <%= f.text_field :time_start, "class"=>"timepicker", autocomplete: 'off' %>
  </p>
  
  <p>
    <%= f.label :End_Time %><br>
    <%= f.text_field :time_end, "class"=>"timepicker", autocomplete: 'off' %>
  </p>


    <%= f.label :description %><br>
    <%= f.text_area :description %>

    <div>
    <%= f.submit %>
    </div>

<% end %>