<%= javascript_include_tag('application.js') %> 

<%= form_for @event, url: calendar_index_path(@event)  do |f| %>

  
   <table id="newEventTable">
   <tr>
     <td>Event Name:</td>
     <td><%= f.text_field :title,"class"=>"formField", autocomplete: 'off' %> </td>
     </tr>
     
     <tr>
     <td>Color:</td>
     <td><%= f.color_field :color,"class"=>"formField" %></td>
  </tr>
  
  <tr>
    <td> Event Date:</td>
    <td><%= f.text_field :date, "class"=>"formField", "id"=>"datepicker",   autocomplete: 'off' %> </td>
  </tr>
 
 <tr>
    <td>Start Time: </td>
    <td><%= f.text_field :time_start,"class"=>"formField", "class"=>"timepicker", autocomplete: 'off' %> </td>
    </tr>
    
    <tr>
    <td>End Time: </td>
    <td><%= f.text_field :time_end,"class"=>"formField", "class"=>"timepicker", autocomplete: 'off' %> </td>
  </tr>
 
  
  <tr>
    <td>Description</td>
    <td><%= f.text_field :description%></td> 
  </tr>
  
<tr>
    <td id="subButton"><%= f.submit %></td>
 </tr>

<% end %>

</table>