<nav><tr>
    <th class="menuButtons"><%= link_to 'Logout', logout_path %></th>
    <th class="menuButtons"><%= link_to 'New Event', new_calendar_path %></th>
    <th class="menuButtons"><%= link_to 'Month', month_path %></th>
    <th class="menuButtons"><%= link_to 'All Events', allEvents_path %></th>
    <th class="menuButtons"><%= link_to 'This Week', calendar_index_path %></th>
</tr>
</nav>