
<h1>This Week</h1>
<div class="menu">
<%= render 'menu' %>
</div>

<br>
<br>

<%= week_calendar number_of_weeks: 1 do |date| %>
  <%= date.to_formatted_s(:short) %>
  
        <br>
              <br>
  <% @event.each do |events| %>
    <div class= "eventOnCalendar", style= "color: <%= events.color %>">

      <% if events.date != date %>
      <% nil %>
      <% else %>
      <%= events.title  %> 
      <% if events.show_time == false %>
          <%nil %>
          <% else %>
          <br>
          <%= events.try(:time_start).strftime("%I: %M %p") unless events.time_start.nil?%>
          <% end %>
      <% end %>
      
    </div>
  <% end %>
<% end %>

