<h1>Upcoming Events</h1>
<%= render 'menu' %>


<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Description</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @event.each do |event| %>
    <tr>
      
      
      <td><%= event.title %></td>
      <td><%= event.date %></td>
      <td><%= event.time_start %></td>
      <td><%= event.time_end %></td>
      <td><%= event.description %></td>
      <td><%= link_to 'Show', calendar_path(event) %></td>
      <td><%= link_to 'Edit', edit_calendar_path(event) %></td>
      <td><%= link_to 'Delete',
              calendar_path(event),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>




