<div id="background">

<div id="monthMenu">
<h1>Events By Month</h1>
 <tr>
    <th class="menuButtons"><%= link_to 'Logout', logout_path %></th>
    <th class="menuButtons"><%= link_to 'New Event', new_calendar_path %></th>
    <th class="menuButtons"><%= link_to 'Month', month_path %></th>
    <th class="menuButtons"><%= link_to 'All Events', allEvents_path %></th>
    <th class="menuButtons"><%= link_to 'This Week', calendar_index_path %></th>
</tr>
</div

<br>



<%= month_calendar events_calendar: @event do |date, event| %>
   <%= date.to_formatted_s(:short) %>
<br>
<br>
<div >
  <% @event.each  do |events| %>
    <div class= "eventOnCalendar", style= "color: <%= events.color %>">
      <% if events.date != date %>
     
        <% nil %>
      <% else %>
      
      <%= events.title %>
          <% if events.show_time == false %>
          <%nil %>
          <% else %>
          <br>
          <%= events.try(:time_start).strftime("%I: %M %p") unless events.time_start.nil?%>
          <% end %>
      <%end%>
      
      
      
      
     
      
      
     
      
      
    </div>
    </div>
    
    
  <% end %>
<% end %>
</div>

 
 <div id= "printLink">
     </div>
 <br>
 <br>
<%= link_to 'Print my Calendar', 'your_link_here', :onclick => 'window.print();return false;'%>
</div>