<h1>Create New Event</h1>

<%= form_for :calendar, url: calendar_index_url do |f| %>

  <p>
    <%= f.label :Event_Name %><br>
    <%= f.text_field :title %>
  </p>
  
  
<p> Date<br/>
<br/>
 <%= f.date_select :event_date,
order: [:month, :day, :year],
prompt: {month:  'Month', day: 'Day', year: 'Year'},
start_year: Time.now.year,
end_year: 2025,
html_options: {class: "SelectDropDown"} %>
</p> 

<p>Time <br/>
<br/>
<%= f.time_select :open_time, 
order: [:hour, :minute],
prompt: {hour: 'Time'},
html_options: {class: "form-control"} %>
<p/>


    <%= f.label :description %><br>
    <%= f.text_area :description %>



    <div>
    <%= f.submit %>
    </div>
  

<% end %>

<%= link_to 'Back', calendar_index_url %>