<h1>Calendar Show</h1>
<div class="menu">
<%= render 'menu' %>
</div>
<p>
  <strong>Event Name:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date.to_s(:long) %>
</p>

<p>
  <strong>Time:</strong><br><br>
  Start:
  <%= @event.try(:time_start).strftime("%H: %M %p") unless @event.time_start.nil? %><br><br>
  End:
  <%= @event.try(:time_end).strftime("%H: %M %p") unless @event.time_end.nil? %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<%= link_to 'Back', calendar_index_url %>