<h1>Calendar Show</h1>
<%= render 'menu' %>
<p>
  <strong>Event Name:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong><br><br>
  Start:
  <%= @event.time_start %><br><br>
  End:
  <%= @event.time_end %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>